.navbar-nav .nav-link {
    color: rgba(0,0,0,1) !important;
}

.navbar-nav .nav-link:hover {
    color: rgba(0,0,0,.5) !important;
}

body {
    font-family: 'Lato', sans-serif;
}

#blogtitle {
    font-size: 6rem;
}

@media (min-width: 992px) {
    #hometext {
        font-size: 4rem;
    }
    #blogdetailtitle {
        font-size: 5rem;
    }
}

<style type="text/css">
@media screen and (min-width: 600px) {
 #mobile-share {
 visibility: hidden;
 clear: both;
 float: left;
 margin: 10px auto 5px 20px;
 width: 28%;
 display: none;
 }
}
</style>
<div id="mobile-share">
<a href="whatsapp://send?text=https://muthuvel83.pythonanywhere.com/" data-action="share/whatsapp/share">Share in Whatsapp</a>
</div>